<% wrap_layout :layout do %>
  <nav>
    <a href="/">Home</a> |
    <a href="/tutorials">Tutorials</a> |
    <a href="/api-reference">API Reference</a> |
    <a href="/sample-code">Sample Code</a>
  </nav>
  <main>
    <%= yield %>
  </main>
<% end %>